{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% if page.header_cover %}
        <header class="intro-header" style="background-image: url('{{ page.header_cover }}')">
    {% elif HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        {% if page.metadata.get("page_image_title") %}
                        <img src="{{page.metadata.get("page_image_title")}}" />
                        {% endif %}
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <article>
        {{ page.content }}
    </article>

    <section>
      {% for article in articles %}
      <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
      {{ article.content }}
      {% endfor %}
    </section>
{% endblock content %}
